@forward '../../styles/globals/';
@use '../../styles/util/' as u1;


.AppMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #272227 !important;
    color: #fdf89b;

    .mainText {
        font-size: 100px;
    }
}